*
{
    box-sizing: border-box;
}
.part-1
{
    padding:25px;
    background-color: #333
}      
.part-1 .navbar .navbar-brand 
{
  color: #fed136;
  font-size: 2em;
  font-family:"Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}
.part-1 .navbar-nav .nav-link
{
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#fff;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 13px;
}
.part-1 .navbar-nav .nav-link:hover
{
    color: #fed136;
}
body
{                
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;            
}