@media (min-width:700px)
{
   
body{
   overflow-x:hidden;
   overflow-y: hidden;
   width: 100%;
   height: 100%;
}
.part-1
{
   font-family: 'Raleway', sans-serif;
   background-color: rgb(12,18,28);
   width: inherit;
   height: inherit;

}
.header-logo-nav
{
   display:flex;
   margin-left:1
}
#logo-image
{
padding: 0;
margin: 0;
max-height: 40px;
/* flex: 2; */
margin-top: 10px;
margin-right: 109px;
margin-left: 57px;
cursor: pointer;
}
.nav-logo-ul
{
list-style-type: none;
/* margin: 0; */
margin-top: 10px;
padding: 0;
overflow: hidden;
background-color: rgb(12,18,28);
font-size: 14px;
}

.nav-logo-li {
float: left;
}
.nav-logo-h1
{
margin: 127px 287px 20px 463px;
padding: 0px;
color: #fff;
font-family: "Open Sans", sans-serif;
font-size: 56px;
font-weight: 600;
text-transform: uppercase;
line-height: 1.2;
}
.nav-logo-li a {
display: block;
color:rgba(202, 206, 221, 0.8);
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-weight: 600;
/* padding: 8px;*/
font-size: 14px;
line-height: 1.5;
}
.nav-logo-li a:hover
{
color:white;
}
.nav-logo-li a{
background-color: transparent;
}
.nav-logo-span
{
color: #f82249;
margin-left: -195px;
}
.nav-logo-button
{
color: #fff;
background: #f82249;
padding: 7px 23px;
border-radius: 50px;
border: 2px solid #f82249;
transition: all ease-in-out 0.3s;
font-weight: 500;
margin-left: 3px;
margin-top: -5px;
line-height: 1;
font-size: 13px;
cursor: pointer;
}
.nav-logo-button:hover,.nav-logo-button2:hover
{
border:1px solid #f82249;
background-color: transparent;
}
.logo-image-style
{
width: 205px;
height: 44px;
}
.nav-logo-span
{
color: #f82249;
}
.nav-logo-p
{
color: #ebebeb;
font-weight: 700;
font-size: 20px;
margin-top: 43px;
margin-left: 337px; 
}
.circle
{
           border-radius: 50%;
background-color: #f82249; 
width: 62px;
height: 62px;
cursor:pointer;

       }
       .zoom
       {
           transition: transform .2s;
       }
.zoom :hover
{
transform: scale(1.5); 
}
       .icon
       {
           display: flex;
align-items: center;
justify-content: center;
color:#fff;
font-size: 31px;
/* margin: 76px; */
margin-top: 50px;
margin-bottom: 43px;
margin-left: 573px;
margin-right: 139px;
padding-left: 6px;
padding-top: 2px;
padding-bottom: 2px;
       }
/*.nav-logo-icon
{
font-size:60px;
color:#F82249;
margin-left:605px;
}*/
.nav-logo-button2
{    
background-color: transparent;
cursor:pointer;
font-size: 14px;
letter-spacing: 1px;   
padding: 12px 32px;
border-radius: 50px;
line-height: 1;
margin: 10px;
color:#fff;
animation-delay: 0.8s;
border: 2px solid #f82249;
transition: 0.5s;
margin-left: 515px;    
}
.nav-logo-button2:hover
{
background-color: #f82249;
}
.nav-logo-expand{
   position:relative;
   text-decoration:none;
   display:inline-block;
 }
 .nav-logo-expand:after {
   display:block;
   content: '';
   border-bottom: solid 3px #f82249;  
   transform: scaleX(0);  
   transition: transform 250ms ease-in-out;
   transform-origin:100% 50%
 }
 .nav-logo-expand:hover:after { 
   transform: scaleX(1);
   transform-origin:0 50%;
 }
 .nav-logo-last-main-container
{
   width: 1282px;
   height: 256px;
   margin-top: 111px;
   margin-left: -1px;
}
.nav-logo-last-align
{   
   padding-left: 153px;
   background-color: #1A2030;
}
.ltcontainer-1
{
   display: flex;
   background-color: #1A2030;
   width: 100%;
   margin-left: 55px;
}
.ltitem1
{
   color: white;
   padding: 26px;
   margin-left: -85px;
   width: 556px;
   line-height: 2;
}
.ltitem2
{
   color: white;
   padding: 26px;
   margin-top: 17px;
   width: 284px;
   margin-left: -58px;
}
.ltitem3
{
   color: white;
   padding: 22px;
   margin-top: 19px;
   width: 209px;
}
.lti
{
  color:white;
  font-size:30px;
  padding: 3px;

}
.ltr
{
   color:red;
   font-size:20px;
}
.ltred
{
  color:red;
}
.ltinnercontainer-1
{
  display:flex;
}
.ltimg
{
  width:100px;
  padding: 25px;
}
.lth2
{
   font-size: 36px;
   font-weight: bold;
   margin-bottom: 10px;
   color: #fff;
   margin-bottom: 20px;
   margin-left: 0px;
   font-family: "Open Sans", sans-serif;
}
.ltp
{
   margin-bottom: 20px;
   color: #fff;
   font-family: "Open Sans", sans-serif;
   /* line-height: 2; */
   margin-top: -35px;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.5;
   text-align: left;
   padding: 28px;
   margin-left: -31px;
   width: 533px;
}
.ltp1
{
   color: #fff;
   font-family: "Open Sans", sans-serif;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.5;
   text-align: left;
}
.lth3
{
   font-size: 18px;
   font-weight: bold;
   text-transform: uppercase;
   margin-bottom: 10px;
   color: #fff;
   font-family: "Raleway", sans-serif;
   margin: 5px 0 20px 0;
   padding: 0;
   line-height: 1.2;
   text-align: left;
}
.content-part2
       {
           background-color: #fff;
           height:844px;
           width:1270px;
       }
   .content-h2
   {
   font-size: 36px;
   text-transform: uppercase;
   text-align: center;
   font-weight: 700;
   margin-bottom: 10px;
   font-family: "Raleway", sans-serif;
   color: #0e1b4d;
   line-height: 1.2;
   padding-top: 70px;
   margin-top:14px;
   }
   .content-p
   {
   text-align: center;
   padding: 0;
   margin: 0;
   font-size: 18px;
   font-weight: 500;
   color: #9195a2;
   font-family: "Open Sans", sans-serif;
   line-height: 1.5;
   margin-bottom: 10px;
   }
   .content-line-style
   {       
   position: relative;
   text-decoration: none;
   margin-left: 619px;
   }
   .content-line-style::after
   {
   content: "";
   position: absolute;
   left: 25%;
   right: 25%;
   bottom: 0;
   border: 2px solid #F82249;
   width: 56px;
   }

.content-main-container-1
{
   display: flex;
   margin-left: 84px;
   margin-right: 39px;
   margin-top: 62px;
   margin-bottom: 32px;
}
.content-main-container-2
{
   display:flex;
   margin-left: 84px;
   margin-right: 39px;
   /*margin-top: 62px;
   margin-bottom: 32px;*/
   padding-bottom: 76px;
   
}
.content-icons
{
 color:white;
 height: 30px;
 cursor:pointer;
 letter-spacing:1px;
}

.content-icons:hover
{
 color:#F82249;
 
}
.content-container {
 position: relative;
 width: 50%;
 
}

.content-image {
 display: block;
 width: 350px;
 height: 265px;
}

.content-overlay {
 position: absolute;
 bottom: 0;
 left: 0;
 right: 0;
 background: rgba(6, 12, 34, 0.76);
 overflow: hidden;
 width: 350px;
 height: 73px;
 transition: .5s ease;
}

.content-container:hover .content-overlay {
 height: 135px;
}
.content-text {
   color: white;
   /* font-size: 20px; */
   /* top: 50%; */
   /* left: 50%; */
   text-align: center;
   margin-top: -4px;
   margin-left: 0px;
}
.content-h3
{
   line-height: 1.2;
   font-size: 22px;
   font-weight: 600;
   font-family: "Raleway", sans-serif;
   padding-top: 20px;
   padding-bottom: -65px;
   margin-bottom: 7px;
   cursor: pointer;
}
.content-h3:hover
{
   color:#F82249;
}
.content-h3-name
{
   line-height: 1.2;
   font-size: 22px;
   font-weight: 600;
   font-family: "Raleway", sans-serif;
   padding-top: 20px;
   padding-bottom: -65px;
   margin-bottom: 7px;
   cursor: pointer;
   width:195px;
}
.content-h3-name:hover
{
   color:#F82249;
}
.content-i
{
   color: #fff;
   font-size: 15px;
   margin-bottom: 10px;
   font-style: italic;
   padding: 0;
   /* margin: -57px 0 10px 0; */
   font-weight: 300;
   line-height: 1.5;
   margin-top: -4px;
}
.jack-name
{
   padding-left: 31px;
   width: 317px;
}
.cttt-part-3
       {
           width:1270px;
           height:798px;
       }
   .content-part3
   {
           padding: 60px 0 60px 0;
           background-color: #f6f7fd;
           font-size: 16px;
           font-weight: 400;
           line-height: 1.5;
           text-align: left;
           margin-right: auto;
           margin-left: auto;
           padding-top:69px;
           width: 1290px;
           height: 1182px;
         
    }
   .content3-h2
   {
   font-size: 36px;
   text-transform: uppercase;
   text-align: center;
   font-weight: 700;
   margin-bottom: 10px;
   font-family: "Raleway", sans-serif;
   color: #0e1b4d;
   line-height: 1.2;
   }
   .content3-p
   {
   text-align: center;
   padding: 0;
   margin: 0;
   font-size: 18px;
   font-weight: 500;
   color: #9195a2;
   font-family: "Open Sans", sans-serif;
   line-height: 1.5;
   margin-bottom: 10px;
   }
   .content3-line-style
   {       
   position: relative;
   text-decoration: none;
   margin-left: 619px;
   }
   .content3-line-style::after
   {
   content: "";
   position: absolute;
   left: 25%;
   right: 25%;
   bottom: 0;
   border: 2px solid #F82249;
   width: 56px;

   }
   .content3-box-space
   {
   margin-top: 60px;
   margin-left: 272px;
   }
   .content3-button
   {    
   border: none;
   border-radius: 50px;
   font-weight: 600;
   padding: 10px 100px;
   cursor: pointer;
   background-color: #0E1B4D;
   color: #fff;
   width:245px;
   line-height: 1.5;
   font-size: 16px;
  
  }
.content3-active
{
   background-color: #f82249;  
}
.c3line-below-buttons
{
   width: 70%;
   text-align: center;
   font-size: 18px;
   font-style: italic;
   margin: 37px auto 30px auto;
   font-family: "Raleway", sans-serif;
   font-weight: 400;
}
.content3-time
{
   padding-bottom: 5px;
   display: inline-block;
   color: #797A7F
  
}
.content3-border
{
   border-bottom: 1px solid #cad4f6;
   padding-top: 15px;
   padding-bottom: 0px;
   background-color: transparent;
   display: flex;
   margin-left: 216px;
   width: 901px;
   height: 98px;
}
.content3-border:hover
{
    background-color:#fff;
}
.content3-time
{
   color: rgb(48, 48, 51);
   font-size: 18px;
   padding-left: 16px;
   width: 70px;
   height: 29px;
}
.content3-para
{
   padding-left: 78px;
   margin-top: -22px;
}
.content3-h4
{
   font-family: "Raleway", sans-serif;
   color: #0e1b4d;
   /* font-weight: 900; */
   margin-bottom: 5px;
   font-size: 18px;
   line-height: 1.5;
   line-height: 1.2;
   font-weight: 600;
   margin-top: 21px;
}
.content3-p-in
{
   font-style: italic;
   color: #152b79;
   margin-bottom: 0;
   font-family: "Open Sans", sans-serif;
   line-height: 1.5;
   width: 618px;
}
.content3-span
{
   font-style: italic;
   color: #19328e;
   font-weight: normal;
   font-size: 16px;
   padding-left: 8px;
}
.content3-img
{
   width: 60px;
   height: 60px;
   overflow: hidden;
   border-radius: 50%;
   float: left;
   margin: 18px 10px 10px -6px;
}
.part-4
               {
                       width:1270px;
                       height:966px;
                       padding-bottom: 70px;
                       margin-bottom: 123px;
               }
   .content4-h2
   {
   font-size: 36px;
   text-transform: uppercase;
   text-align: center;
   font-weight: 700;
   margin-bottom: 10px;
   font-family: "Raleway", sans-serif;
   color: #0e1b4d;
   line-height: 1.2;
   padding-top: 40px;
   }
   .content4-p
   {
   text-align: center;
   padding: 0;
   margin: 0;
   font-size: 18px;
   font-weight: 500;
   color: #9195a2;
   font-family: "Open Sans", sans-serif;
   line-height: 1.5;
   margin-bottom: 10px;
   }
   .content4-line-style
   {       
   position: relative;
   text-decoration: none;
   margin-left: 619px;
   }
   .content4-line-style::after
   {
   content: "";
   position: absolute;
   left: 25%;
   right: 25%;
   bottom: 0;
   border: 2px solid #F82249;
   width: 56px;
   }
   .content4-flex-img
   {
       display:flex;
       margin-left:10px;
       margin-right:10px;
       margin-top: 60px;
   }
   .content4-images
   {
       width:629px;
       height:336px;
       margin-right: 2px;
   }
   .content4-flex-small-images
   {
       display:flex;
       margin-left: 10px;
       margin-top: 4px;
       width:1251px;
   }
   .content4-small-images  /*frame*/
   {
       width:313px;
       height:236px;
       margin-right: 2px;
       overflow: hidden;
       cursor:pointer;                
   }      
.c4zoomin img 
{
 width: 313px;
 height: 236px; 
 transition: all ease-in-out 0.4s;
}
.c4zoomin img:hover {
 width: 360px;
 height:246px;
}    
.content-part5
   {
           padding: 60px 0 60px 0;
           background-color: #f6f7fd;
           font-size: 16px;
           font-weight: 400;
           line-height: 1.5;
           text-align: left;
           margin-right: auto;
           margin-left: auto;
           padding-top: 70px;
           padding-bottom: 92px;
    }
   .content5-h2
   {
   font-size: 36px;
   text-transform: uppercase;
   text-align: center;
   font-weight: 700;
   margin-bottom: 10px;
   font-family: "Raleway", sans-serif;
   color: #0e1b4d;
   line-height: 1.2;
   }
   .content5-p-main
   {
   text-align: center;
   padding: 0;
   margin: 0;
   font-size: 18px;
   font-weight: 500;
   color: #9195a2;
   font-family: "Open Sans", sans-serif;
   line-height: 1.5;
   margin-bottom: 10px;
   }
   .content5-line-style
   {       
   position: relative;
   text-decoration: none;
   margin-left: 619px;
   }
   .content5-line-style::after
   {
   content: "";
   position: absolute;
   left: 25%;
   right: 25%;
   bottom: 0;
   border: 2px solid #F82249;
   width: 56px;
   }
   .content5-flex-imagebox
   {
       display: flex;
       margin-top: 60px;
       margin-left: 88px;
       margin-right: 89px;
       
   }
   .content5-border
   {
       width:350px;
       height:377px;
       background-color: #fff;    
       margin-right: 32px;    
   }
   .content5-img
   {
       width:349px;
       height:262px;
       overflow: hidden;
       cursor:pointer;
       margin-bottom: 17px;
   }
   .c5zoomin img 
   {
     width: 349px;
     height: 262px; 
     transition: all ease-in-out 0.4s;
   }
  .c5zoomin img:hover 
   {
       width: 360px;
       height: 273px;
   }
   .content5-h3
   {
   font-weight: 600;
   font-size: 20px;
   margin-left: 20px;
   margin-bottom: 12px;
   padding: 0 20px;
   font-family: "Raleway", sans-serif;
   margin: 0 0 20px 0;
   color: #0e1b4d;
   line-height: 1.2;
   cursor:pointer;
   }
   .content5-h3:hover
   {
       color:#F82249;
   }
   .content5-stars
   {
       color:#FFC31D;
       padding: 0 2px;
       width:15px;
       height: 16px;
   }
   .content5-p
   {
   color: #060c22;
   font-style: italic;
   font-size: 15px;
   margin-left: 23px;
   margin-top: 4px;
   }
   .content5-star-alignment
   {
       margin-left: 19px;
       margin-top: -12px;
   }
   .content-part6
       {
           background-color: #fff;
           padding-bottom: 60px;
       }
   .content6-h2
   {
   font-size: 36px;
   text-align: center;
   font-weight: 700;
   margin-bottom: 10px;
   font-family: "Raleway", sans-serif;
   color: #0e1b4d;
   line-height: 1.2;
   padding-top: 50px;
   }
   .content6-p
   {
   text-align: center;
   padding: 0;
   margin: 0;
   font-size: 18px;
   font-weight: 500;
   color: #9195a2;
   font-family: "Open Sans", sans-serif;
   line-height: 1.5;
   margin-bottom: 10px;
   }
   .content6-line-style
   {       
   position: relative;
   text-decoration: none;
   margin-left: 619px;
   }
   .content6-line-style::after
   {
   content: "";
   position: absolute;
   left: 25%;
   right: 25%;
   bottom: 0;
   border: 2px solid #F82249;
   width: 56px;
   }
   .content6-flex-images
   {
   display: flex;
   margin-top: 62px;
   margin-left: -69px;
   cursor: pointer;
   margin-right: -81px;
   }
   .content6-imgg
   {
       width:227px;
       height: 171px;
       margin-right: 2px;
   }
   .content6-border
   {
   border: 6px solid #F82249;
   padding: 3px;
   margin-top: -7px;
   width: 237px;
   height: 191px;
   }

   .content-part7
   {
           padding: 60px 0 60px 0;
           background-color: #f6f7fd;
           font-size: 16px;
           font-weight: 400;
           line-height: 1.5;
           text-align: left;
           margin-right: auto;
           margin-left: auto;
    }
   .content7-h2
   {
   font-size: 36px;
   text-transform: uppercase;
   text-align: center;
   font-weight: 700;
   margin-bottom: 10px;
   font-family: "Raleway", sans-serif;
   color: #0e1b4d;
   line-height: 1.2;
   }
   .content7-p
   {
   text-align: center;
   padding: 0;
   margin: 0;
   font-size: 18px;
   font-weight: 500;
   color: #9195a2;
   font-family: "Open Sans", sans-serif;
   line-height: 1.5;
   margin-bottom: 10px;
   }
   .content7-line-style
   {       
   position: relative;
   text-decoration: none;
   margin-left: 619px;
   }
   .content7-line-style::after
   {
   content: "";
   position: absolute;
   left: 25%;
   right: 25%;
   bottom: 0;
   border: 2px solid #F82249;
   width: 56px;
   }
   .content7-flex-images
   {
       display: flex;
       margin-top: 61px;
       margin-left: 90px;
   }
   .content7-flex-images2
   {
       display: flex;
       margin-left: 90px;
   }
   .content7-border
   {
       width:277px;
       height:161px;
       background-color: #fff;
       border:1px solid #E0E5FA;
   }
   .content7-img
   {
   width: 204px;
   height: 43px;
   margin-top: 61px;
   margin-left: 35px;
   }
   .c7zoomin img 
{
   width: 204px;
   height: 43px;
 transition: all ease-in-out 0.4s;
}
.c7zoomin img:hover {
 width: 224px;
 height: 63px;
}
.content-part8
       {
           background-color: #fff;
           
       }
   .content8-h2
   {
   font-size: 36px;
   text-transform: uppercase;
   text-align: center;
   font-weight: 700;
   margin-bottom: 16px;
   font-family: "Raleway", sans-serif;
   color: #0e1b4d;
   line-height: 1.2;
   padding-top: 70px;

   }
   
   .content8-line-style
   {       
   position: relative;
   text-decoration: none;
   margin-left: 619px;
   }
   .content8-line-style::after
   {
   content: "";
   position: absolute;
   left: 25%;
   right: 25%;
   bottom: 0;
   border: 2px solid #F82249;
   width: 56px;
   }
   .content8-question-space
   {
    display:flex;
    margin-left: 224px;
   }
   .content8-p
   {
   padding: 18px 0;
   display: block;
   position: relative;
   font-family: "Raleway", sans-serif;
   font-size: 16px;
   line-height: 24px;
   font-weight: 600;
   padding-right: 20px;
   color: #000;
   cursor:pointer;
   }
   .content8-i-1
   {
   font-size: 24px;
   position: absolute;
   margin-left: 302px;
   margin-top: 16px;
   cursor:pointer;
   }
   .content8-i-2
   {
   font-size: 24px;
   position: absolute;
   margin-left: 145px;
   margin-top: 16px;
   cursor:pointer;  
   }
   .content8-i-3
   {
   font-size: 24px;
   position: absolute;
   margin-left: 134px;
   margin-top: 16px;
   cursor:pointer;  
   }
   .content8-i-4
   {
   font-size: 24px;
   position: absolute;
   margin-left: 228px;
   margin-top: 16px;
   cursor:pointer;  
   }
   .content8-i-5
   {
   font-size: 24px;
   position: absolute;
   margin-left: 128px;
   margin-top: 16px;
   cursor:pointer;  
   }
   .content8-i-6
   {
   font-size: 24px;
   position: absolute;
   margin-left: 16px;
   margin-top: 16px;
   cursor:pointer;  
   }
   .content8-container
   {
      margin-top: 62px;
   }
   .content8-container2
   {
      margin-top: 21px;
   }
   .content8-hr
   {
   color: #F6F7FD;
   width: 695px;
   margin-left: 221px;
   }
   .c8-space
   {
       margin-left: 25px;
   }
   .part-9
   {
       
   }
   .content-part9
   {
   background-color: #fff;
   background-image: url(image/2bg.jpg);
   width:1284px;
 
         /*  filter: blur(20px);*/
   }
  .content9-input 
   {
   background: #fff;
   color: #060c22;
   border: 0;
   outline: none;
   margin: 0;
   padding: 9px 20px;
   border-radius: 50px;
   font-size: 14px;
   min-width: 400px;
   margin-left: 380px;
   margin-top: 61px;
   margin-right: 10px;
   }
   .content9-button {
   border: 0;
   padding: 9px 25px;
   cursor: pointer;
   background: #f82249;
   color: #fff;
   transition: all 0.3s ease;
   outline: none;
   font-size: 14px;
   border-radius: 50px;
   margin-top: 61px;
}
.content9-button:hover
{
   background-color: #DF072F;
}
   .content9-h2
   {
   font-size: 36px;
   text-transform: uppercase;
   text-align: center;
   font-weight: 700;
   margin-bottom: 10px;
   font-family: "Raleway", sans-serif;
   color:#fff;
   line-height: 1.2;
   padding-top: 70px;
   }
   .content9-p
   {
   text-align: center;
   padding: 0;
   margin: 0;
   font-size: 18px;
   font-weight: 500;
   color:#fff;
   font-family: "Open Sans", sans-serif;
   line-height: 1.5;
   margin-bottom: 10px;
   }
   .content9-line-style
   {       
   position: relative;
   text-decoration: none;
   margin-left: 619px;
   }
   .content9-line-style::after
   {
   content: "";
   position: absolute;
   left: 25%;
   right: 25%;
   bottom: 0;
   border: 2px solid #F82249;
   width: 56px;
   }
  .content9-bg-img
  {
      background-image: url(image/2bg.jpg);
  }
  .content9-flex-input
  {
      display:flex;
      padding-top: 0px;
      padding-bottom: 60px;
  }
  .content-part10
   {
   padding: 60px 0 60px 0;
   background-color: #f6f7fd;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5;
   text-align: left;
   /* margin-right: auto; */
   /* margin-left: auto; */
   margin-right: -8px;
    }
   .content10-h2
   {
   font-size: 36px;
   text-transform: uppercase;
   text-align: center;
   font-weight: 700;
   margin-bottom: 10px;
   font-family: "Raleway", sans-serif;
   color: #0e1b4d;
   line-height: 1.2;
   }
   .content10-p
   {
   text-align: center;
   padding: 0;
   margin: 0;
   font-size: 18px;
   font-weight: 500;
   color: #9195a2;
   font-family: "Open Sans", sans-serif;
   line-height: 1.5;
   margin-bottom: 10px;
   }
   .content10-line-style
   {       
   position: relative;
   text-decoration: none;
   margin-left: 619px;
   }
   .content10-line-style::after
   {
   content: "";
   position: absolute;
   left: 25%;
   right: 25%;
   bottom: 0;
   border: 2px solid #F82249;
   width: 56px;
   }
   .display-flex-c10
   {
       display:flex;
       margin-left: 86px;
       margin-top: 33px; 
   }
   .content10-border
   {
       width:354px;
       height:525px;  
       background-color: #fff;  
       border-radius: 5px;
       margin-right: 32px; 
       box-shadow: 0 10px 25px 0 rgba(6, 12, 34, 0.1);
   }
   .content10-title
   {
   margin-top: 33px;
   margin-left: 103px;
   font-size: 14px;
   letter-spacing: 1px;
   font-weight: bold;
   color: #6c757d;
   line-height: 1.2;
   }
   .c10-hr
   {
       margin: 25px 30px;
       border-top: 1px solid rgba(0,0,0,.1)
   }
   .content10-rupees
   {
       font-size: 48px;
       margin: 0;
       text-align: center;
       font-family: "Raleway", sans-serif;
       font-weight: 400;
       margin: 0 0 20px 0;
       padding: 0;
       color: #0e1b4d;
       line-height: 1.2;
   }
   .content10-c-i
   {
       margin-top: 17px;
       margin-left: 28px;        
   }
   .c-i
   {
       margin-right: 10px;
   }
   .c-con
   {
        
   }
   .c-i2
   {
       color:#989EA4;
       margin-right: 10px;
   }
   .c-con2
   {
       color:#989EA4;  
   }
   .content10-button
   {
   font-size: 15px;
   border-radius: 50px;
   padding: 10px 40px;
   transition: all 0.2s;
   background-color: #f82249;
   border: 0;
   color: #fff;
   cursor: pointer;
   /* padding-left: 10px; */
   margin-left: 103px;
   }
   .content10-button:hover
   {
       background-color: #e0072f;
   }
   .content-part11
       {
           background-color: #fff;
           height:844px;
           width:1270px;
       }
   .content11-h2
   {
   font-size: 36px;
   text-transform: uppercase;
   text-align: center;
   font-weight: 700;
   margin-bottom: 10px;
   font-family: "Raleway", sans-serif;
   color: #0e1b4d;
   line-height: 1.2;
   padding-top: 70px;
   }
   .content11-p
   {
   text-align: center;
   padding: 0;
   margin: 0;
   font-size: 18px;
   font-weight: 500;
   color: #9195a2;
   font-family: "Open Sans", sans-serif;
   line-height: 1.5;
   margin-bottom: 10px;
   }
   .content11-line-style
   {       
   position: relative;
   text-decoration: none;
   margin-left: 619px;
   }
   .content11-line-style::after
   {
   content: "";
   position: absolute;
   left: 25%;
   right: 25%;
   bottom: 0;
   border: 2px solid #F82249;
   width: 56px;
   }
   .content11-container
   {
   display: flex;
   width: 1110px;
   height: 185px;
   margin-top: 91px;
   margin-left: 103px;
   text-align: center;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   }
   .content11-box
   {        
   border-left: 1px solid #ECEDEF;
   border-right: 1px solid #ECEDEF;
   height: 165px;
   margin-left: 42px;
   margin-top: -30px;
   }
   .content11-h3 {
   font-size: 18px;
   margin-bottom: 15px;
   font-weight: bold;
   text-transform: uppercase;
   color: #112363;
   font-family: "Raleway", sans-serif;
   line-height: 1.2;
   }
   .content11-p
   {
   margin-bottom: 10px;
   color: #112363;
   font-family: "Open Sans", sans-serif;
   }
   .content11-p1
   {
   margin-bottom: 0;
   color: #112363;
   font-family: "Open Sans", sans-serif;
   cursor:pointer;
   }
   .content11-p1:hover
   {
      color:#F82249;
   }
   .c11-h3-2
   {
   padding-left: 100px;
   padding-right: 103px;
   margin-top: 30px;
   }
   .c11-p-2
   {
       padding-left: 0px;
   }
   .c11-h3-3
   {
       margin-left: 156px;
   }
   .c11-p-3
   {
       margin-left: 134px;
   }
   .a-box
   {
       margin-left:20px;
   }
   .c11-dis-flex
   {
       display: flex;
       margin-left: 78px;
   }
   .c11-input
   {
   padding: 13px 14px;
   border-radius: 0;
   box-shadow: none;
   font-size: 15px;
   border: 1px solid #ced4da;
   width: 551px;
   margin-right: 12px;
   }
   .c11-input1
   {
   padding: 13px 14px;
   border-radius: 0;
   box-shadow: none;
   font-size: 15px;
   border: 1px solid #ced4da;
   width: 1114px;
   margin-right: 12px;
   margin-top: 20px;
   margin-left: 78px;
   }
   .c11-txt
   {
   width: 1115px;
   margin-left: 78px;
   margin-top: 20px;
   height: 125px;
   }
   .c11-button
   {
   background: #f82249;
   border: 0;
   padding: 10px 40px;
   color: #fff;
   transition: 0.4s;
   border-radius: 50px;
   cursor: pointer;
   margin-left: 575px;
   margin-top: 40px;
   }
   .c11-button:hover
   {
       background: #e0072f;
   }

   
}   
