body
{
    background-color: #131313;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding-left:50px;
    padding-right: 50px;

}
.main-part
{
    background-color: #2F2C2A;
    padding-left:50px;
    padding-right: 50px;
    padding-bottom: 50px;
    
}
.formatting
{
    color: white;
    text-align: center;   
    margin-top: 5rem;
    padding-top: 25px;
    padding-bottom: 25px;
}
.displayy img
{
  width:90%;
  height:50%;
 margin-bottom: 25px;
}
.displayy h5
{
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    text-align: center; 
    padding-top:20px;
    padding-bottom:20px;
    width:100%;
    height:15%;
}
.spacing
{
    margin-top: 60px;
    color:white;
}
.form-control
{
    background-color: #5E5957;
}
.btn-align
{
   text-align: center;
   margin-top: 25px;
}
.row .col-md-4 img
{
    margin-top: 8rem;
    height: 21.5rem;
}
.spacee
{
  /*margin-left:12%;*/
   
}
.imm
{
    margin-top: 51%;
    height: 92%;
}

.hp
{
    color:white;
    font-size: 25px;
}
.hp1
{
    color:white;
    font-size: 16px;
}
.list-group
{
    font-size: 16px;
}
@media (max-width: 767px)
{

    .row .col-md-4 img {
          width: 100%;
    }
   
    .row .col-md-4 img {
        margin-top: 0rem; 
         
    }
    .displayy img {
        width: 100%;
           }
    .container {
         
     padding-right: 0px; 
     padding-left: 0px; 
          
        }
        .btn {
        margin-top: 15px;
        margin-bottom: 15px;
        }
}
@media (min-width: 1024px) 
{
 .row .col-md-4 img {
    margin-top: 8rem;
    height: 21.5rem;
    width:100%;
}
.displayy h5 {
    
    height: 5%;
}
}
@media (max-width: 1023px) and (min-width: 768px)
{
 .row .col-md-4 img {
    margin-top: 8rem;
    height: 23rem;
    width:100%;
}
.displayy h5 {
    
    height: 10%;
}
}
