@media(min-width:700px)
{
html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
.csi {
    background: lightgray;
    font-size: 37px;
    text-align: center;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-block;
    padding: 33px;
    margin-bottom: 34px;
    margin-top: 37px;
    margin-left: 30px;
    cursor: pointer;
}
.csiconset
{
    width:42px;
    height:37px;
}
.cstd
{

padding-left: 9%;
width:25%;
}
.csimgsrc
{
    
    width:95%;
    
}
.csth
{

padding-left:10px;
width:25%;
}

.cscustomer
{
padding-left:6px;
padding-right:6px;
padding-bottom:2px;
}
.cstable
{
  
   margin-left:5%;
   margin-top:0%;
}
.cspstable
{
 margin-left:5%;
 margin-top:5%;
}
.csa {
    color: black;   
    text-decoration: none;
}

.csa:hover {
    color: red;  
    text-decoration: none;
}
.csb
{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 55px;
    text-transform: uppercase;

}


.n2ul {
    list-style-type: none;
    margin: 50px;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: relative;
}

.n2li {
    float: left;
}
.n2ul1
{
margin-left:22%;
}
.n2a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing:1px;

}
.n2a:hover
{
 background-color:#FF4157;
  color:white;
}
.n2active {
    background-color:#FF4157;
    padding:10px;
    color:white;
}

.n2logo-img {
    float: left;
    position: relative;
    margin: 55px 15px 15px 10px;
}
.n2log
{
margin-left:5%;
}
.n2img
{
width:15%; 
height:70%;
}
.n2last
{
float:right;
margin-right:0%;
}
.bdcontainer {
   
    text-align: center;
    color: white;
    font-weight: bold;
    font-family:'Roboto', sans-serif;
    letter-spacing:2px;
    font-size:45px;
    
}
.bdcentered {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bdimg
{
  width:101%;
  height:400px;
}


.nnul {
    list-style-type: none;
    margin: -1px;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 0;
    padding-right: 40px;
    overflow: hidden;
    background-color: rgb(0,0,0)
}

.nnli {
    float: right;
    
}

.nna{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nna:hover
{
 color:#ff4157;
}
.reimg-big
{
width:150px;
height:150px;
}
.reimg-small
{
width:50px;
height:50px;
}
.retable
{
 width:100%;
}
.rei
{
 font-family: 'Roboto', sans-serif;
 letter-spacing:2px;
}

.b2container {
    margin-top:50px;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.b2text-block {
    position: absolute;
    bottom: 90px;
    left: 20px;   
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing:2px;
}
.b2button {
    background-color: red; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;    
    transition-duration: 0.4s;
    cursor: pointer;
}

.b2button1:hover {
    background-color: darkblue;
    color: white;
}
.bdimg
{
  width:100%;
  height:500px;
}
.ittable
            {
                width:80%;
                display:table
            }
            
            .itimgs{
                width:225px;
                height:225px;
                display:table-cell
            }
            .ita:link {
    background-color:white;
    color: black;
    border:1px solid black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.ita:hover {
    background-color: hotpink;
}
* {
    box-sizing: border-box;
}

.itbody {
    font-family: Arial, Helvetica, sans-serif;
}
/* Create three unequal columns that floats next to each other */
.itcolumn {
    float: left;
    padding: 10px;
    height: 450px; /* Should be removed. Only for demonstration */
}

/* Left and right column */
.itside {
    width: 50%;
}

/* Middle column */
.itmiddle {
    width: 50%;
}

/* Clear floats after the columns */
.itrow:after {
    content: "";
    display: table;
    clear: both;
}
.itstyle
{
    display: table-row;
}
.itstyle2
{
    display: table-cell; 
    vertical-align: middle;
}
.itstyle3
{
    sdisplay: table-cell; 
    vertical-align: middle;
}
.itstyle4
{
    display: table-cell; 
    vertical-align: middle;
}
.itstyle5
{
    display: table-cell; 
    vertical-align: middle;
}

.btb1
{
    background-color: black;
    color:white;
    width: 600px;
    height:80px;
    border: 25px solid black;
    padding: 25px;
    margin: 25px 25px -45px;
    border-radius:6%;    
}

.btb2
{
    background-color: red;
    color:white;
    width: 600px;
    height:40px;
    border: 25px solid red;
    padding: 25px;
    margin: 25px 25px -35px;
    border-radius:6%;    
}

.btimg {
  border-radius: 50%;
  margin-top:-32px;
  margin-left:20px;
  width:5%;
}
.bth2
{
   color:white;
   margin-left:100px;
   margin-top:-50px;
}
.bth4
{
  margin-top:-10px;
  margin-left:125px;
}

.bt2b1
{
    background-color: black;
    color:white;
    width: 1245px;
    height:80px;
    border: 25px solid black;
    padding: 25px;
    margin: -5px 25px -35px;
    border-radius:6%;    
}
.bt2b2
{
    background-color:rgb(218, 56, 83);;
    color:white;
    width: 1245px;
    height:40px;
    border: 25px solid rgb(218, 56, 83);
    padding: 25px;
    margin: 25px 25px -10px;
    border-radius:6%;    
}

.bt2img {
  border-radius: 50%;
  margin-top:-40px;
  margin-left:20px;
  width:75px;
  height:75px;
  padding-bottom:5px;
}
.bt2h2
{
   color:white;
   margin-left:120px;
   margin-top:-70px;
}
.bt2h4
{
  position: absolute;
  margin-top:-10px;
  margin-left:155px;
}
.bt2table
{
  margin-top:150px;
}
             .tetable
            {
                width:90%;
                display:table;
            }
            
            .teimgs{
                width:395px;
                height:390px;
                display:table-cell;
                padding-left:10px;
                padding-top:10px;
 		padding-bottom:-3px;
 		padding-right:1px;

            }
            .tea:link {
    background-color:white;
    color: black;
    border:1px solid black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.tea:hover {
    background-color: hotpink;
}
.tei:hover
{
 color: hotpink;
 cursor:pointer;
}
      
.testyle1
{
 display: table-row;
}  
.testyle2
{
display: table-cell; 
vertical-align: middle;
padding-left:200px;
}
.fxcontainer
       {
           width:1280px;
           height:535px;
       }
      .fxcontainer-1 
      {
        
          display:flex;
          height: 264px;     
      }
     
      .fxcontainer-2
      {
          display:flex;
          height: 264px; 
      }
    
      .fxcontent
      {
       
       padding-left:16px;
       padding-right:10px;
       width: 320px; 
       height: 264px;
      }
      .fximage
      {
        width: 320px;
        height: 264px;
        padding-top:1px;
      }
      .fxita:link
      {
         background-color:white;
         color: black;
         border:1px solid black;
         padding: 14px 25px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
      }
      .fxp
      {
          font-size:14px;
          letter-spacing: 0.5px;
        line-height: 25px;
      }
      .fxita:hover 
      {
        background-color: #FF4157;
      }
      .fxh2
      {
          cursor:pointer;
          font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px
      }
    .fxh2:hover
    {
        color: #FF4157;   
    }
               
            
.texcontainer-1{

display:flex;

}
.texcontainer-1 div
{
 padding-left:12px;

}
.texa:link {
    background-color:white;
    color: black;
    border:1px solid black;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.texa:hover {
    background-color:#FF4157;
}
.texi:hover
{
 color: hotpink;
 cursor:pointer;
}
.teximage
{
    width: 545px;
    padding-left: 40px;
}
.texcontent
{
    padding-left: 40px;
    width: 720px;
}
.teximght
{
 height:322px;
width:500px
}
.ltalign
{
    padding-left:153px;
    background-color:#162544;
    width: 100%;

}
.ltcontainer-1
{
   display:flex;
   background-color:#162544;
   width: 100%;
}
.ltitem1
{
   color:white;
   padding:25px;
}
.lthred:hover
{
    color:#FF4157;
    cursor:pointer;
}
.lti
{
   color:white;
   font-size:30px;
   padding: 3px;

}
.ltr
{
    color:#FF4157;
    font-size:20px;
}
.ltred
{
   color:#FF4157;
}
.ltinnercontainer-1
{
   display:flex;
}
.ltimg
{
   width:146px;
   padding: 25px;
}
.ltimg:hover
{
    cursor:pointer;
}
* {box-sizing: border-box;}
                .ixcontainer
                {
                    display:flex;
                }
                .ixfirst {
                    padding-top: 52px;
                    margin-left: 73px;
                    position: relative;
                    width: 100%;
                 
                }
                
                .iximage {
                  display: block;
                  width: 245px;
                  height: 251px;
                 
                }
                .ixfirst:hover .iximage {
                   opacity: 0.3;
                          }
                .ixoverlay {
                    position: absolute;   
                    background: rgb(0, 0, 0);
                    background: rgba(0, 0, 0, 0.5);
                    color: #f1f1f1;
                    width: 99.5%;
                    opacity: 0;
                    height: 22%;
                    bottom: 0px;
                    color: white;
                    font-size: 20px;
                    padding: 20px;
                    text-align: center;
                }

                .ixoverlay-icon {
                  position: absolute; 
                  bottom: 0; 
                  /*background: rgb(0, 0, 0);*/
                  /*background: rgba(0, 0, 0, 0.5); Black see-through */
                  color: #f1f1f1; 
                  width: 92%;
                  top:39%;                
                  opacity:0;
                  color: rgb(121, 57, 180);
                  font-size: 40px;
                  padding: 20px;
                  text-align: center;
                  cursor:pointer;
                }
                
                .ixfirst:hover .ixoverlay {
                  opacity: 1;
                }
                .ixfirst:hover .ixoverlay-icon {
                  opacity: 1;
                }
            }
